<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    <div class="panel-body">
        <dl class="dl-horizontal">
        {{#each field in fields}}
            {{#if field.hasValue}}
                {{partial 'eureka-widget-model-display-field'}}
            {{else}}
                {{#if displayEmptyValue}}
                    {{partial 'eureka-widget-model-display-field'}}
                {{/if}}
            {{/if}}
        {{else}}
            {{{emptyPlaceholderLabel}}}
        {{/each}}
        </dl>
    </div>
</div>
