<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    <div class="panel-body">
        <table {{bind-attr class=":table hideLabels::table-hover"}}>
            <tbody>
            {{#each field in fields}}
                <tr scope="row">
                    {{#if field.hasValue}}
                        {{#unless hideLabels}}
                            <th> {{field.meta.label}} </th>
                        {{/unless}}
                        <td>
                            {{component field.meta.displayWidgetComponentName
                                field=field
                                currentController=currentController}}
                        </td>
                    {{else}}
                        {{#if displayEmptyValue}}
                            <th> {{field.meta.label}} </th>
                            <td></td>
                        {{/if}}
                    {{/if}}
                </tr>
            {{else}}
                <div class="empty-placeholder">{{{emptyPlaceholderLabel}}}</div>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>